/* Start of left hand side container CSS */

.left-side-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.half-container {
  width: 50vw;
  height: 100vh;
  display: flex;
}

.left-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-logo {
  width: 80%;
  margin: 5% auto;
  height: 50px;
}

.account-form {
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

.account-header {
  font-weight: bold;
  font-size: 2.5rem;
}

.account-header-caption {
  padding-top: 3%;
  color: var(--GrayCaption);
}

.account-form-field {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  /* border: 1px solid blue; */
}

.form-label {
  margin-bottom: 5px;
  font-size: 18px;
}

.account-input-field {
  width: 100%;
  outline: none;
  padding-left: 14px;
  font-size: 14px;
  height: 48px;
  border: 1px solid var(--GrayCaption);
  border-radius: 10px;
}

.account-input-field::placeholder {
  color: var(--GrayCaption);
}

.login-extra-container {
  display: flex;
  justify-content: space-between;
}

.remember-me-container {
  color: var(--GrayCaption);
  display: flex;
}

.remember-me-check {
  -webkit-appearance: none;
  border: 1px solid var(--GrayCaption);
  border-radius: 5px;
  height: 18px;
  width: 18px;
}

.remember-me-caption {
  padding-left: 5px;
}

.account-link {
  color: var(--SJSUBlue);
  text-decoration: none;
}

.account-link:visited {
  color: var(--SJSUBlue);
}

.account-link:hover {
  text-decoration: underline;
}

.submit-btn {
  border: none;
  width: 100%;
  height: 48px;
  background-color: var(--SJSUBlue);
  color: white;
  border-radius: 5px;
  font-size: 18px;
  margin: 5% 0;
}

.make-account-container {
  display: flex;
  justify-content: center;
}

.make-account-caption {
  color: var(--GrayCaption);
  padding-right: 5px;
}

/* End of left hand side CSS */

/* Start of right hand side CSS */

.right-login-container {
  background: linear-gradient(180deg, var(--SJSUBlue), rgba(0, 85, 162, 0.90));
}

.right-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.right-content {
  margin: auto;
}

.rhsGraphic {
  width: 450px;
  height: 347px;
  margin: auto;
}

.right-content-info {
  color: white;
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
}

.right-content-header {
  padding-bottom: 5%;
}