.profilePage-container {
  width: 768px;
  margin: 5% auto;
  border: 1px solid var(--SecLightGray);
  border-radius: 10px;
  background-color: white;
}

.profilePage {
  width: 90%;
  margin: 30px auto;
}

.profilePage-header {
  display: flex;
  border-bottom: 1px solid var(--SecLightGray);
  padding-bottom: 20px;
}

.profilePage-default-pic {
  height: 96px;
}

.profilePage-header-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.profilePage-header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editProfile-link {
  text-decoration: none;
  color: var(--GrayCaption);
  font-size: 14px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
  padding-bottom: 5px;
}

.editProfile-link:hover {
  color: var(--SecDarkGray);
  border-color: var(--SecDarkGray);
  cursor: pointer;
}

.adminCheck-container {
  display: flex;
  align-items: center;
}

.adminCheck {
  font-size: 20px;
  color: var(--InfoOutlineGreen);
}

.adminCheck-caption {
  margin-left: 5px;
  font-size: 14px;
}

.profilePage-additional-info {
  font-size: 14px;
}

/* Profile page about section */
.profilePage-about-container {
  padding: 20px 0;
  border-bottom: 1px solid var(--SecLightGray);
}

.profilePage-section-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.profilePage-text {
  font-size: 14px;
}

.profilePage-bio-container {
  margin-bottom: 10px;
}

.previous-activity-container {
  margin-top: 20px;
}

.previous-activity-title {
  font-weight: 400;
  font-size: 18px;
}

.previous-activity-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.previous-activity-button-container {
  width: 35%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.previous-activity-buttons {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid transparent;
}

.previous-activity-buttons:hover, .previous-activity-active {
  border-bottom: 1px solid var(--SJSUBlue);
  color: var(--SJSUBlue);
}

.previous-acitivity-module {
  margin-top: 20px;
}

/* Error handling */
.errorLogin {
  height: 20px;
  color: var(--Downvote);
}