.subforum-link {
  text-decoration: none;
  color: black;
}

.subforums {
  width: 40%;
}

.subforum-container {
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  width: 100%;
  border: 1px solid var(--SecLightGray);
}

.subforum-container:hover {
  border: 1px solid var(--SecDarkGray);
}

.subforum-content {
  height: 100%;
  width: 90%;
  margin: 20px;
}

.subforum-title {
  font-size: 22px;
  font-weight: 600;
}

.subforum-desc {
  margin: 20px 0;
  font-size: 16px;
  color: var(--SecDarkGray);
}

.subforum-info {
  color: var(--SecDarkGray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.subforum-posts-container {
  display: flex;
}

.subforum-date-container {
  display: flex;
}

.info-container {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-right: 5px;
}

/* Subforum Page Module */

.subforum-page-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  width: 40%;
}

.subforum-info-container {
  margin: 5% 0;
}

.subForumDesc {
  color: var(--SecDarkGray);
  margin: 1% 0;
}

/* Create Post Styling */

.createPost {
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 2% 0;
  border: 1px solid var(--SecLightGray);

}

.createPost-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 40px;
}

.createPost-caption {
  color: var(--SecDarkGray);
  display: flex;
  align-self: center;
  margin-left: 5%;
}

.createPost-button {
  display: flex;
  border: 1px solid var(--BlueOutline);
  background-color: var(--SJSUBlue);
  color: white;
  border-radius: 10px;
  height: 100%;
  align-items: center;
  padding: 0 10px;
}

.createPost-button:hover {
  cursor: pointer;
}

.createPost-plus {
  margin-right: 3px;
}

/* Styling for no posts in subforum */

.noPost-container {
  display: flex;
  width: 100%;
  height: 40vh;
  color: var(--SJSUGray);
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.noPost-container h2 {
  font-weight: 400;
}

/* Responsive Design */
@media (max-width: 1360px) {
 .subforums {
  width: 70%;
 }
}

@media (max-width: 800px) {
  .subforums {
    width: 80%;
  }
}