.landing {
  height: 100vh;
  background-color: var(--MainBackground);
}

.landing-content {
  width: 60%;
  margin: auto;
}

.landing-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Forum category styling */

.forum-category-container {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--SecLightGray);
  height: 50px;
  margin: 2% 0;
}

.category-caption {
  color: var(--SecDarkGray);
  margin-left: 5%;
  font-size: 14px;
}

.category-selectors {
  margin-right: 5%;
  height: 100%;
  display: flex;
  align-self: center;
}

.forum-category {
  padding: 0 25px;
  border: none;
  background-color: white;
  font-size: 15px;
  color: var(--SecDarkGray);
  border-radius: 10px;
}

.forum-category:hover {
  cursor: pointer;
}

.active-cat {
  color: white;
  background-color: var(--SJSUBlue);
}

/* Responsive Design */
@media (max-width: 1360px) {
  .forum-category-container {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .forum-category-container {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .category-selectors {
    margin: 0;
    flex-direction: column;
    width: 100%;
  }

  .forum-category-container {
    flex-direction: column;
    height: 100%;
  }

  .category-caption {
    margin: auto;
  }

  .forum-category {
    height: 30px;
  }

  .active-cat {
    height: 30px;
  }
}