.landing {
  height: 100vh;
  background-color: var(--MainBackground);
}

.landing-content {
  width: 60%;
  margin: auto;
}

.landing-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Forum category styling */

.forum-category-container {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  height: 50px;
  margin: 2% 0;
}

.category-caption {
  color: var(--SecDarkGray);
  margin-left: 5%;
  font-size: 14px;
}

.category-selectors {
  margin-right: 5%;
  height: 100%;
  display: flex;
  align-self: center;
}

.forum-category {
  padding: 0 25px;
  border: none;
  background-color: white;
  font-size: 15px;
  color: var(--SecDarkGray);
  border-radius: 10px
}

.forum-category:hover {
  cursor: pointer;
}

.active-cat {
  color: white;
  background-color: var(--SJSUBlue);
}