.optInfo-container {
  display: flex;
  justify-content: space-between;
}

.account-form-field {
  margin: auto;
  width: 100%;
}

.opt-input-field {
  width: 100%;
  outline: none;
  padding-left: 14px;
  font-size: 14px;
  height: 48px;
  border: 1px solid var(--GrayCaption);
  border-radius: 10px;
}

.opt-input-field[type:"date"] {
  color: black;
}

.account-form-field:last-child {
  margin-left: 5%;
}

.opt-input-field::placeholder,
.opt-input-field::-webkit-datetime-edit {
  color: var(--GrayCaption);
}

.birth-field-done::-webkit-datetime-edit {
  color: black;
}

.opt-input-field::-webkit-datetime-edit:focus {
  color: red;
}

/* .opt-input-field::webkit-datetime-edit {
  color: black;
} */

.bio {
  padding: 14px;
  resize: none;
  height: 80px;
}