.category {
  padding: 10px;
  border-radius: 50px;
}

.question {
  background-color: var(--QuestionBodyYellow);
  color: var(--QuestionOutlineYellow);
  border: 1px solid var(--QuestionOutlineYellow);
}

.information {
  background-color: var(--InfoBodyGreen);
  color: var(--InfoOutlineGreen);
  border: 1px solid var(--InfoOutlineGreen);
}