.category {
  padding: 10px;
  border-radius: 50px;
  text-align: center;
}

.question {
  background-color: var(--QuestionBodyYellow);
  color: var(--QuestionOutlineYellow);
  border: 1px solid var(--QuestionOutlineYellow);
}

.information {
  background-color: var(--InfoBodyGreen);
  color: var(--InfoOutlineGreen);
  border: 1px solid var(--InfoOutlineGreen);
}

/* Responsive Design */
@media (max-width: 500px) {
  .category {
    margin-top: 5px;
    height: 20px;
    padding: 0;
  }
}