.specificEvent-page {
  width: 40%;
  margin: auto;
  display: flex;
  background-color: white;
  border: 1px solid var(--SecLightGray);
  border-radius: 10px;

  margin-top: 5%;
}

.specificEvent-content-container {
  width: 90%;
  margin: 20px auto;
}

.specificEvent-desc-container {
  margin-top: 20px;
}

.specificEvent-author {
  color: var(--SecDarkGray);
  font-size: 14px;
  margin-top: 5px;
}

.specificEvent-footer-container {
  border-top: 1px solid var(--SecLightGray);
  margin-top: 20px;
}

.specificEvent-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteEvent {
  color: var(--SecLightGray);
  font-size: 14px;
  transition: all 0.5s;
}

.deleteEvent:hover {
  cursor: pointer;
  color: var(--SecDarkGray);
}