.createEvent-container-form {
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--SecLightGray);
  width: 40%;
  margin: 5% auto;
}

.createEvent-form {
  width: 90%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
}

.createEvent-form-title {
  margin-bottom: 20px;
}

.event-form-header-container {
  display: flex;
  margin-bottom: 20px;
}

.event-form-field:nth-child(1) {
  width: 100%;
}

.event-form-field:nth-child(2) {
  margin-left: 10%;
  padding-left: 10px;
}

.event-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.event-form-label {
  margin-bottom: 5px;
  font-size: 18px;
}

.event-form-input {
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid var(--SecLightGray);
  outline: none;
  transition: all 0.5s ease-in-out;
}

.event-form-input:focus {
  border-bottom: 1px solid var(--SecDarkGray);
}

.event-form-input-textarea {
  padding: 10px;
  resize: none;
  outline: none;
  border-color: var(--SecLightGray);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.event-form-input-textarea:focus {
  border-color: var(--SecDarkGray);
}

.createEvent-submit-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.createEvent-submit-btn {
  padding: 5px 10px;
  height: 100%;
  border: 1px solid var(--BlueOutline);
  border-radius: 5px;
  background-color: var(--SJSUBlue);
  color: white;
  transition: all 0.5s ease-in-out;
  font-size: 16px;
}

.createEvent-submit-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 1200px) {
  .createEvent-container-form {
    width: 80%;
  }

  .event-form-header-container {
    flex-direction: column;
  }

  .event-form-field:nth-child(2) {
    margin: 0;
    padding: 0;
  }
}