.eventComponent {
  background-color: white;
  border: 1px solid var(--SecLightGray);
  border-radius: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.eventComponent:hover {
  border-color: var(--SecDarkGray);
}

.eventComponent-content-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.event-title {
  flex: 1;
}

.event-desc {
  flex: 4;
}

/* Event Author Styling */
.eventAuthor-caption {
  font-size: 14px;
  color: var(--SecLightGray);
}

/* Event Buttons Styling */

.eventComponent-attendance {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.attendance-btn {
  padding: 5px 10px;
  border-radius: 10px;
  width: 45%;
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--SecLightGray);
  background-color: white;
  color: var(--GrayCaption);
}

.attendance-btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  border-color: var(--SecDarkGray);
}

.eventGoing:hover {
  border: 1px solid var(--InfoOutlineGreen);
  color: var(--InfoOutlineGreen);
}

.eventNotGoing:hover {
  border: 1px solid var(--Downvote);
  color: var(--Downvote);
}

.eventGoing-active{
  border: 1px solid var(--InfoOutlineGreen);
  background-color: var(--InfoBodyGreen);
  color: var(--InfoOutlineGreen);
}

.eventNotGoing-active{
  border: 1px solid var(--Downvote);
  background-color: var(--DownvoteBackground);
  color: var(--Downvote);
}

/* Link Styling */
.specificEvent-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  flex: 4;
}