/* Event page container styling */
.eventMainPage-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  width: 40%;
}

/* Event page banner styling */
.eventMainPageBanner-container {
  margin: 5% 0;
}

.eventMainPageBanner-caption {
  color: var(--SecDarkGray);
  margin-top: 8px;
}

/* Event page create event stylign */
.postEvent-container {
  border: 1px solid var(--SecLightGray);
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 2% 0;
}

.postEvent-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postEvent-caption {
  color: var(--SecDarkGray);
  margin-left: 5%;
}

.postEvent-button {
  display: flex;
  border: 1px solid var(--BlueOutline);
  background-color: var(--SJSUBlue);
  color: white;
  height: 100%;
  align-items: center;
  padding: 0 10px; 
  border-radius: 10px;
}

.postEvent-plus {
  margin-right: 3px;
}

.postEvent-button:hover {
  cursor: pointer;
}

/* No events styling */
.noEvents-container {
  display: flex;
  width: 100%;
  height: 40vh;
  color: var(--SJSUGray);
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.noEvents-container h2 {
  font-weight: 400;
}