.navbar {
  background-color: white;
}

.navbar * {
  background-color: white;
}

.navbar-container {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: white;
  justify-content: space-between;
  align-content: center;
}

.logo {
  flex: 1;
}

.nav-logo {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 0;
}

.nav-logo img {
  background-color: white;
}

.nav-section {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
}

.nav-section:nth-child(2) {
  justify-content: center;
}

.nav-section:nth-child(3) {
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 0 5%;
}

.link {
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
  border-bottom: 2px solid transparent;
}

.link:hover, .CTA-btn:hover{
  color: var(--SJSUBlue);
  border-bottom: 2px solid var(--SJSUBlue);
}

.CTA-btn {
  padding: 10px;
  border: none;
  color: black;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
  border-bottom: 2px solid transparent;
}

/* Logged In Navbar CSS */
.user-welcome {
  margin: 0 5%;
}

/* Active Styling */
.active {
  color: var(--SJSUBlue);
  border-bottom: 2px solid var(--SJSUBlue);
}

/* Responsive Navbar */
@media (max-width: 912px) {
  .user-welcome {
    display: none;
  }
}

@media (max-width: 800px) {

  .nav-logo {
    height: 80%;
  }

  .CTA-btn {
    display: none;
  }

  .user-welcome {
    display: none;
  }
}

@media (max-width: 686px) {
  .nav-link {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .nav-section:nth-child(1) {
    display: none;
  }

  .navbar-container {
    width: 90%;
    height: 40px;
    margin: auto;
    margin-right: 7.5%;
  }
}

@media (max-width: 450px) {

  .nav-section:nth-child(2) {
    flex: 4;
  }

  .nav-section:nth-child(3) {
    justify-content: flex-end;
  }

  .nav-logo {
    display: none;
  }

  .nav-section {
    width: 20%;
  }
}