/* Google Font "Inter" */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");

/* Colors for the website */
:root {
  /* Primary Colors */
  --SJSUBlue: #0055A2;
  --SJSUGold: #E8A823;
  --SJSUGray: #939597;

  /* Secondary Colors */
  --SecBlue: #1C88F4;
  --SecDarkGray: #666666;
  --SecLightGray: #D2D2D2;

  /* Text Colors */
  --GrayCaption: #BBB;

  /* Background color */
  /* --MainBackground: RGBA(202, 202, 202, 0.3); */
  --MainBackground: #F9F9F9;

  /* Vote Colors */
  /* Upvote color is using Info colors */
  --Downvote: #E30E00;
  --DownvoteBackground: #FF867E;

  /* Button Colors */
  --BlueOutline: #243A73;

  /* Default Profile Picture Colors */
  --ProfilePictureBlue: #618DFF;

  /* Category Colors */
  --QuestionBodyYellow: #FFF9C0;
  --QuestionOutlineYellow: #BAA700;
  --InfoBodyGreen: #c2fca7;
  --InfoOutlineGreen: #55b628;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--MainBackground);
}