/* Google Font "Inter" */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* Colors for the website */
:root {
  /* Primary Colors */
  --SJSUBlue: #0055A2;
  --SJSUGold: #E8A823;
  --SJSUGray: #939597;

  /* Secondary Colors */
  --SecBlue: #1C88F4;
  --SecDarkGray: #666666;
  --SecLightGray: #D2D2D2;

  /* Text Colors */
  --GrayCaption: #BBB;
}